/* NEWSLETTER */

.wrapper-newsletter {
    display: flex;
    justify-content: space-evenly;
    height: 350px;
    background: #000000;
    padding-left: 250px;
    padding-right: 250px;
}


.wrapper-footer {
    background: #222222;
    padding: 72px 135px;
    display: flex;
    justify-content: space-evenly;
}

.red-box {
    width: 408px;
    height: 329px;
    background: red;
    padding: 15px 30px;
    margin-top: -100px;
    margin-right: 32px;
}

.red-box h1 {
    color: #ffffff;
    font-size: 60px;
}

.newsletter {
    margin-left: 32px;
}

.newsletter-title {
    width: 272px;
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.newsletter-title span {
    color: #ffffff;
    font-size: 20px;
}

.newsletter-title span::after {
    content: "!" ;
    color: red ;
}

.newsletter-input label {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    margin-top: 50px;
    color: #ffffff;
    font-size: 13px;
}

.newsletter-input input {
    border: none;
    width: 350px;
    height: 60px;
    margin-top: 15px;
    padding-left: 21px;
}

.newsletter-input button {
    border: none;
    height: 62px;
    width: 120px;
    background: red;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}


/* FOOTER */

.wrapper-footer {
    display: flex;
}

.wrapper-footer span {
    color: #ffffff;
    font-size: 19px;
}

.footer-links {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #9B9B9B;
}

.first-block {
    display: flex;
}

.marvel-logo {
    margin: 10px 25px;
}

.about-marvel {
    text-align: left;
    margin: 0 25px;
}

.media-marvel {
    text-align: left;
    margin: 0 25px;
}

.second-block {
    display: flex;
}

.last-news-blog {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 45px;
}

.last-news-blog a {
    color: #9B9B9B;
    font-size: 14px;
    text-decoration: underline;
}

.headline-news {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.headline-news p {
    color: #ffffff;
    font-size: 14px;
    margin-left: 10px;
}


.follow-us {
    margin: 0 45px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 8px;
}