/* NEWSLETTER */

.wrapper-newsletter {
  display: flex;
  justify-content: space-evenly;
  height: 350px;
  background: #000000;
  padding-left: 250px;
  padding-right: 250px;
}

.wrapper-footer {
  background: #222222;
  padding: 72px 135px;
  display: flex;
  justify-content: space-evenly;
}

.red-box {
  width: 408px;
  height: 329px;
  background: red;
  padding: 15px 30px;
  margin-top: -100px;
  margin-right: 32px;
}

.red-box h1 {
  color: #ffffff;
  font-size: 60px;
}

.newsletter {
  margin-left: 32px;
}

.newsletter-title {
  width: 272px;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.newsletter-title span {
  color: #ffffff;
  font-size: 20px;
}

.newsletter-title span::after {
  content: "!";
  color: red;
}

.newsletter-input label {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  margin-top: 50px;
  color: #ffffff;
  font-size: 13px;
}

.newsletter-input input {
  border: none;
  width: 350px;
  height: 60px;
  margin-top: 15px;
  padding-left: 21px;
}

.newsletter-input button {
  border: none;
  height: 62px;
  width: 120px;
  background: red;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.newsletter-input button:hover {
  opacity: 0.7;
}

/* FOOTER */

.wrapper-footer {
  display: flex;
}

.wrapper-footer span {
  color: #ffffff;
  font-size: 19px;
}

.footer-links {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #9b9b9b;
}

.footer-links a {
  cursor: pointer;
  text-decoration: none;
}

.footer-links a:hover {
  color: red;
}

.footer-links a:visited {
  color: #9b9b9b;
}

.first-block {
  display: flex;
}

.marvel-logo {
  margin: 10px 25px;
}

.about-marvel {
  text-align: left;
  margin: 0 25px;
}

.media-marvel {
  text-align: left;
  margin: 0 25px;
}

.second-block {
  display: flex;
}

.last-news-blog {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 45px;
}

.last-news-blog a {
  color: #9b9b9b;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.last-news-blog a:visited {
  color: #9b9b9b;
}

.headline-news {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.headline-news p {
  color: #ffffff;
  font-size: 14px;
  margin-left: 10px;
}

.follow-us {
  margin: 0 45px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin: 0 8px;
  cursor: pointer;
}

.social-icons a:visited {
  color: #9b9b9b;
}

@media (max-width: 1524px) {
  .wrapper-newsletter {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 1269px) {
  .red-box h1 {
    color: #ffffff;
    margin: 15px;
  }

  .wrapper-newsletter {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 1184px) {
  .wrapper-newsletter {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1064px) {
  .wrapper-newsletter {
    display: block;
    height: auto;
    background: #000000;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .red-box {
    width: 100%;
    background: red;
    padding: 0px;
    margin-right: 0px;
    padding: 20px 0;
    height: auto;
  }

  .red-box h1 {
    margin: 0;
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .newsletter-title {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .newsletter-input label {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .newsletter-input div {
    margin-bottom: 40px;
  }
}

@media (max-width: 1079px) {
  .headline-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .headline-news p {
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .wrapper-footer {
    padding: 72px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .first-block {
    justify-content: center;
    margin-bottom: 30px;
  }

  .second-block {
    flex-direction: column;
    justify-content: center;
  }

  .last-news-blog {
    text-align: center;
    margin-bottom: 30px;
  }

  .headline-news img {
    margin: 0 auto;
  }
}
