.wrapperList {
    background: #ffffff;
    padding: 147px 135px;
}

.title-list {
    text-align: left;
    margin-left: 80px;
}

.pagination-control {
    display: flex;
    justify-content: space-between;
}