.banner {
    background: url('../../Assets/banner.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;

}

.banner h1 {
    color: white;
    position: relative;
    top: 400px;
    left: 135px;
    font-size: 100px;
    width: 300px;
    z-index: 6;
}

.opacity-banner {
    position: absolute;
    background: #000;
    opacity: 0.54;
    width: 100wv;
    height: 100%;
    z-index: 2;
}

